.title {
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;

}

.text {
    font-size: 15px;
    line-height: 20px;
}

.text-s {
    font-size: 12px;
    line-height: 21px;
}

.card-img-cust {
    height: 235px;
    width: 336px !important;
    border: 8px solid #FFFFFF;
    border-radius: 19px !important;
    background-color: #FFFFFF;
    box-shadow: 5px 15px 60px 0 rgba(0, 0, 0, 0.19);
}

.green {
    color: #068B1F;
}

.price {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.54px;
    line-height: 27px;
    text-align: right;
}

.weight {
    font-size: 12px;
    font-weight: 500;
    text-align: right;
}

.grey {
    color: #242222;
}

.no-side-paddings {
    padding-left: unset !important;
    padding-right: unset !important;
}

.dot-btn {
    height: 38px;
    width: 321px;
    border-radius: 0 100px 100px 0 !important;
    background-color: #323030 !important;
    text-align: left !important;
    font-size: 20px !important;
    letter-spacing: 0.54px;
    line-height: 27px !important;
    padding-top: 2px !important;
}

@media (max-width: 320px) {
    .dot-btn {

        width: 261px;

    }
}

.dot-name {
    color: #242222;
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    margin-left: -120px
}

.dot-price {
    color: #068B1F;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.54px;
    line-height: 27px;
    text-align: right;
    float: right;
    margin-right: 25px;
}

.dot-block {
    margin-top: 30px;
    margin-bottom: 40px;
}

.btn-img {
    float: right;
    margin-top: 2px;
}

.none {
    display: none;
}

.display {
    display: block;
}

.dodatki-btn-img {
    display: inline;
    width: 8%;
    transform: rotate(0deg);
    float: right;
    margin-top: 3px;
}

.dodatki-btn-img-none {
    display: inline;
    width: 8%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    float: right;
    margin-top: 3px;

}

.title {
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;

}

.text {
    font-size: 15px;
    line-height: 20px;
}

.card-img-cust {

    width: 291px !important;
    border: 8px solid #FFFFFF;
    border-radius: 19px !important;
    background-color: #FFFFFF;
    box-shadow: 5px 15px 60px 0 rgba(0, 0, 0, 0.19);
}

.card {
    margin: auto !important;
}

.green {
    color: #068B1F;
}

.price {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.54px;
    line-height: 27px;
    text-align: right;
}

.weight {
    font-size: 12px;
    font-weight: 500;
    text-align: right;
}

.grey {
    color: #242222;
}

.no-side-paddings {
    padding-left: unset !important;
    padding-right: unset !important;
}

.modal-header {

    border-bottom: unset !important;

}

.modal-content {
    height: 700px !important;
}

.modal-lg {
    max-width: 1200px !important;
}

.sliderTitle {
    height: 38px;
    width: 219px;
    /* border-radius: 0 63px 35px 0; */
    background-color: #323030;
    border-radius: 0 100px 100px 0 !important;
    font-size: 20px;
    letter-spacing: 0.54px;
    line-height: 27px;
    color: #fff;
    text-align: left;
    /* margin: auto; */
    padding-top: 4px;
    padding-left: 13px;

    margin-left: 34px;
}

.slick-slide {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.slick-track {
    display: flex !important;
}

.card-price {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.54px;
    line-height: 27px;
}

.row {
    margin-left: unset !important;
}

.text-energy {
    font-size: 12px;
    line-height: 21px;
}

.slick-list {
    padding: 50px 50px !important;
}

.ul-cust {
    list-style-type: none;
    padding-left: 0;
}

@media (max-width: 320px) {
    .ul-cust {
        padding-left: 20%;
    }
}