.header-col {
    display: inline-grid;
}

.header-h1 {
    color: #242222;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 0.94px;
    line-height: 48px;
}

.header-span-1 {
    color: #242222;
    font-size: 20px;
    line-height: 27px;
}

.header-span-2 {
    color: #242222;
    font-size: 15px;
    line-height: 20px;
}

.header-btn-1 {
    border-radius: 0 100px 100px 0 !important;
    background-color: #068B1F !important;
    font-size: 22px !important;
    font-weight: bold !important;
    line-height: 30px !important;
    color: #fff;
    height: 44px;
    width: 221px;
    text-align: left !important;
    margin: auto;
    margin-top: 20px;
}

.header-btn-2 {
    border-radius: 0 100px 100px 0 !important;
    background-color: #323030 !important;
    font-size: 22px !important;
    font-weight: bold !important;
    line-height: 30px !important;
    color: #fff;
    height: 44px;
    width: 221px;
    text-align: left !important;
    margin: auto;
    margin-top: 16px;
}

.header-btn-3 {
    border-radius: 0 100px 100px 0 !important;
    background-color: #FFC244 !important;
    font-size: 22px !important;
    font-weight: bold !important;
    line-height: 30px !important;
    color: #00A082 !important;
    height: 44px;
    width: 221px;
    text-align: left !important;
    margin: auto;
    margin-top: 16px;

}

.header-obrez-block {
    border-radius: 13em/3em;
    position: relative;
    background-color: #fff;

    margin-top: -100px;
}

.header-img {
    width: 100%;
}

.header-hr {
    border: 2px solid #068B1F;
    width: 68px;
    border-radius: 15px;
    margin-top: 17px;
}

.header-btn-icon-1 {
    float: right;
    margin-top: 5px;
}

.header-btn-icon-2 {
    float: right;
    margin-top: 4px;
}

.header-btn-icon-3 {
    float: right;
    margin-top: 4px;
    margin-right: 5px;
}

.map-h1 {
    margin-top: 30px;
    color: #242222;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.67px;
    line-height: 34px;
    padding-bottom: 15px;
}

.about-block {
    margin-top: 400px;
    margin-bottom: 40px;
}

.about-h1 {
    display: inline;
    float: left;
    color: #242222;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.67px;
    line-height: 34px;
    margin-top: 15px;
}

.about-img {
    display: inline;
    float: right;
    margin-right: 10px;
}

.about-span {
    display: inline-block;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0.48px;
    line-height: NaNpx;
    color: #242222;
    margin-top: 30px;

}

.footer {
    background-color: #242323;
    padding-top: 50px;
}

.about-h1-block {
    margin-top: 40px;

}

.about-col {
    padding-left: 30px !important;
}

.footer-h1 {
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 0.94px;
    line-height: 48px;
}

.footer-col {
    text-align: left !important;
    padding-left: 20px !important;
    color: #FFF;
}

.footer-span {
    font-size: 15px;
    line-height: 20px;
}

.footer-privacy {
    color: #068B1F !important;
    font-size: 12px;
    line-height: 16px;
    display: block;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 10px;
}

.footer-copyright {
    color: #fff !important;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    display: block;
    margin-left: 10px;
    opacity: .5;
}

.footer-logo-img {
    opacity: .4;
}

.menu-h1-block {
    margin-top: 40px;

}

.menu-h1 {
    color:#242222;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.67px;
    line-height: 34px;
    width: 90%;
    text-align: left;
    padding-left: 15px;
}
.menu-header-img{
    left: 70px;
    position: relative;
    top: -100px;

}
.menu-header-span{
    position: relative;
    top: -70px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    left: 150px;
    color: #068B1F;
}
