body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Next Cyr", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: "Avenir Next Cyr", sans-serif;
}


@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./font/AvenirNextCyr-BoldItalic.eot');
  src: local('Avenir Next Cyr Bold Italic'), local('AvenirNextCyr-BoldItalic'),
  url('./font/AvenirNextCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-BoldItalic.woff') format('woff'),
  url('./font/AvenirNextCyr-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./font/AvenirNextCyr-Light.eot');
  src: local('Avenir Next Cyr Light'), local('AvenirNextCyr-Light'),
  url('./font/AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-Light.woff') format('woff'),
  url('./font/AvenirNextCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./font/AvenirNextCyr-Demi.eot');
  src: local('Avenir Next Cyr Demi'), local('AvenirNextCyr-Demi'),
  url('./font/AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-Demi.woff') format('woff'),
  url('./font/AvenirNextCyr-Demi.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./font/AvenirNextCyr-ThinItalic.eot');
  src: local('Avenir Next Cyr Thin Italic'), local('AvenirNextCyr-ThinItalic'),
  url('./font/AvenirNextCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-ThinItalic.woff') format('woff'),
  url('./font/AvenirNextCyr-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./font/AvenirNextCyr-Italic.eot');
  src: local('Avenir Next Cyr Italic'), local('AvenirNextCyr-Italic'),
  url('./font/AvenirNextCyr-Italic.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-Italic.woff') format('woff'),
  url('./font/AvenirNextCyr-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./font/AvenirNextCyr-HeavyItalic.eot');
  src: local('Avenir Next Cyr Heavy Italic'), local('AvenirNextCyr-HeavyItalic'),
  url('./font/AvenirNextCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-HeavyItalic.woff') format('woff'),
  url('./font/AvenirNextCyr-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./font/AvenirNextCyr-MediumItalic.eot');
  src: local('Avenir Next Cyr Medium Italic'), local('AvenirNextCyr-MediumItalic'),
  url('./font/AvenirNextCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-MediumItalic.woff') format('woff'),
  url('./font/AvenirNextCyr-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./font/AvenirNextCyr-LightItalic.eot');
  src: local('Avenir Next Cyr Light Italic'), local('AvenirNextCyr-LightItalic'),
  url('./font/AvenirNextCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-LightItalic.woff') format('woff'),
  url('./font/AvenirNextCyr-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./font/AvenirNextCyr-Medium.eot');
  src: local('Avenir Next Cyr Medium'), local('AvenirNextCyr-Medium'),
  url('./font/AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-Medium.woff') format('woff'),
  url('./font/AvenirNextCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr Ultra';
  src: url('./font/AvenirNextCyr-UltraLightIt.eot');
  src: local('Avenir Next Cyr Ultra Light Italic'), local('AvenirNextCyr-UltraLightIt'),
  url('./font/AvenirNextCyr-UltraLightIt.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-UltraLightIt.woff') format('woff'),
  url('./font/AvenirNextCyr-UltraLightIt.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./font/AvenirNextCyr-Regular.eot');
  src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'),
  url('./font/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-Regular.woff') format('woff'),
  url('./font/AvenirNextCyr-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr Ultra';
  src: url('./font/AvenirNextCyr-UltraLight.eot');
  src: local('Avenir Next Cyr Ultra Light'), local('AvenirNextCyr-UltraLight'),
  url('./font/AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-UltraLight.woff') format('woff'),
  url('./font/AvenirNextCyr-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./font/AvenirNextCyr-Heavy.eot');
  src: local('Avenir Next Cyr Heavy'), local('AvenirNextCyr-Heavy'),
  url('./font/AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-Heavy.woff') format('woff'),
  url('./font/AvenirNextCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./font/AvenirNextCyr-Bold.eot');
  src: local('Avenir Next Cyr Bold'), local('AvenirNextCyr-Bold'),
  url('./font/AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-Bold.woff') format('woff'),
  url('./font/AvenirNextCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./font/AvenirNextCyr-DemiItalic.eot');
  src: local('Avenir Next Cyr Demi Italic'), local('AvenirNextCyr-DemiItalic'),
  url('./font/AvenirNextCyr-DemiItalic.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-DemiItalic.woff') format('woff'),
  url('./font/AvenirNextCyr-DemiItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('./font/AvenirNextCyr-Thin.eot');
  src: local('Avenir Next Cyr Thin'), local('AvenirNextCyr-Thin'),
  url('./font/AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
  url('./font/AvenirNextCyr-Thin.woff') format('woff'),
  url('./font/AvenirNextCyr-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}